<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<style>
    body{
        background-color: aqua;
    }
    input{
        width:100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
    }
    input::placeholder{
        color: #d3d3d3;
    }
    .submit{
        background-color: #6BA3E8;
    }
    .center-column{
        width:600px;
        padding: 20px;
        margin: 20px auto;
        box-shadow: 6px 2px 30px 0px rgba(0,0,0,0.75);
        border-radius:  3px;
        background-color: #fff;
    }
</style>




<div class="center-column">
    <center><h3>TO DO</h3></center>

    <!-- action='/' ka matlab kya hai yaha  -->

    <form method="POST" action="/"> 
        {% csrf_token %}
        
        {{form.title}}
        <input type="submit" name="Create Task">
    </form>



    <br>
    {% for task in tasks reversed %}
    <!-- <center> -->
    <div>
        
        <p >
            {% if task.complete == True %}        
                <strike>{{task}}</strike>
                {% else %}
                <span>{{task}}</span>
            {% endif %}      
            
            
        </p>
        <a class ="btn btn-sm btn-info" href="{% url 'update_task' task.id %}">Update</a>
        <a class ="btn btn-sm btn-danger"href="{% url 'delete' task.id %}">Delete</a>    
        <br><br>
    </div>

    {% endfor %}
</div>
<!-- </center> -->
<!-- 
{% for task in tasks %}
<div>
    <p>  
        
       
        <form action="">
            <input type="checkbox" id={{task.id}} >
            {% if task.complete == True %}        
            <strike>{{task}}</strike>
            {% else %}
            <span>{{task}}</span>
            {% endif %}

        </form>
        
        
    </p>


    <a href="{% url 'update_task' task.id %}">Update</a>
    <a href="{% url 'delete' task.id %}">Delete</a>    
</div>
{% endfor %} -->